doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=yy4O0bbrLY")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=yy4O0bbrLY")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=yy4O0bbrLY")
    link(rel="manifest" href="/favicon/site.webmanifest?v=yy4O0bbrLY")
    link(rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=yy4O0bbrLY" color="#5bbad5")
    link(rel="shortcut icon" href="/favicon/favicon.ico?v=yy4O0bbrLY")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="msapplication-config" content="/favicon/browserconfig.xml?v=yy4O0bbrLY")
    meta(name="theme-color" content="#ffffff")
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
      a.navbar-brand(href='/') Executive Club
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.d-flex.align-items-center
          if !user
            li.nav-item.active
              a.nav-link(href='/log-in')
                | Log-In
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/sign-up')
                | Sign-Up
          else
              li.nav-item.active
                a.nav-link(href='/log-out')
                  | Log-Out
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/join-club')
                  | Ateam
                  span.sr-only
    block content
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
